@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --bg: hsl(228, 15%, 13%);
    --font: 'Roboto Mono', monospace;
    --color: #db886f;
    --sub_color: #c4a88a;
}

body{
    background-color: var(--bg);
    font-family: var(--font);
    color: var(--color);
    text-align: center;
}

#space_bar{
    font-size: 70px;
}

.button_reset {
    width: 300px; 
    height: 90px;
    font-size: 30px;
    font-family: var(--font);
    color: var(--bg);
    background-color: var(--sub_color);
    border: none;
    cursor: pointer;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
